.info-read {
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 30px;
    font-weight: 800;
    border: 1.5px solid #949494; /* Đường viền của hình chữ nhật */
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 20px;
}
