.job-item {
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f6e5;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    user-select: none;

    .name-job {
        font-size: 18px;
        font-weight: 550;
        user-select: text !important;
        cursor: text !important;
    }
}
